<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Banco fox</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/tarjetasStyle.css" />
    <link rel="stylesheet" href="./css/styleLogin.css" />
  </head>

  <body id="app" style="min-width: 100%">
    <!-- imagen  y texto-->
    <link rel="icon" type="image/x-icon" href="./css/imagenes/Fox_Banco.png" />

    <nav class="bg-green d-flex align-items-center justify-content-between">
      <div class="">
        <img
          src="./css/imagenes/Fox_BancoRecortado2.png"
          width="70"
          height="70"
          style="margin-left: 5px"
          alt=""
        />
        <a class="navbar-brand fox m-1" href="#"
          >Banco <span class="text-red">Fox</span>
        </a>
      </div>
      <ul class="d-flex justify-content-center m-2">
        <li class="list-group-item">
          <a
            class="nav-link m-2 text-decoration-none mx-4"
            href="./ingreso.html"
            >Ingresa</a
          >
        </li>
      </ul>
    </nav>

    <section class="container justify-content-between" style="min-height: 80%">
      <div class="row">
        <div class="col slide-in-right">
          <div class="d-flex justify-content-center">
            <div class="login-page">
              <h2>
                <span class="display-4 text-red d-flex justify-content-center"
                  >Registrate</span
                >
              </h2>

              <div class="form">
                <form class="register-form">
                  <input v-model="nombre" type="text" placeholder="Nombre" />
                  <input
                    v-model="apellido"
                    type="text"
                    placeholder="Apellido"
                  />
                  <input
                    v-model="contraseña"
                    type="password"
                    placeholder="Contraseña"
                  />
                  <input v-model="emial" type="text" placeholder="Email" />
                  <button v-on:click="crear" type="button">Registrarte</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container justify-content-between" style="min-height: 80%">
      <div class="row m-2">
        <h2 class="display-5 col slide-in-left">
          <span class="display-4 text-red">Tarjetas </span>
          <span class="display-4 text-red">Personalizadas </span> con Banco
          <span class="display-4 text-red">Fox</span>
        </h2>

        <div class="col slide-in-right marginCartas">
          <div class="d-flex justify-content-center">
            <div class="card-tarjeta TITANIUM" style="z-index: 4">
              <div class="d-flex justify-content-between container">
                <span class="logo d-flex justify-content-center">
                  <img src="./css/imagenes/logo.png" alt="" />
                  <h5>Master Card</h5>
                </span>
                <img class="chip m-3" src="./css/imagenes/chip.png" alt="" />
              </div>
              <div
                class="d-flex justify-content-between align-items-end position-absolute"
              >
                <div class="numero-Tarjetas m-2">
                  <h5>Número</h5>
                  <h6 class="numero">250 323 312</h6>
                  <h6 class="nombre m-1">
                    <span class="h5">Titular:</span>Sancho pansa
                  </h6>
                </div>
                <div class="fecha-vencimiento m-3">
                  <h6 class="">1/20/2029</h6>
                </div>
              </div>
            </div>

            <div
              class="card-tarjeta SILVER position-absolute"
              style="transform: rotate(-30deg); z-index: 2; top: -2rem"
            >
              <div class="d-flex justify-content-between container">
                <span class="logo d-flex justify-content-center">
                  <img src="./css/imagenes/logo.png" alt="" />
                  <h5>Master Card</h5>
                </span>
                <img class="chip m-3" src="./css/imagenes/chip.png" alt="" />
              </div>
              <div
                class="d-flex justify-content-between align-items-end position-absolute"
              >
                <div class="numero-Tarjetas m-2">
                  <h5>Número</h5>
                  <h6 class="numero">250 323 312</h6>
                  <h6 class="nombre m-1">
                    <span class="h5">Titular:</span>Sancho pansa
                  </h6>
                </div>
                <div class="fecha-vencimiento m-3">
                  <h6 class="">1/20/2029</h6>
                </div>
              </div>
            </div>
            <div
              class="card-tarjeta GOLD position-absolute"
              style="transform: rotate(-20deg); z-index: 3; top: -1rem"
            >
              <div class="d-flex justify-content-between container">
                <span class="logo d-flex justify-content-center">
                  <img src="./css/imagenes/logo.png" alt="" />
                  <h5>Master Card</h5>
                </span>
                <img class="chip m-3" src="./css/imagenes/chip.png" alt="" />
              </div>
              <div
                class="d-flex justify-content-between align-items-end position-absolute"
              >
                <div class="numero-Tarjetas m-2">
                  <h5>Número</h5>
                  <h6 class="numero">250 323 312</h6>
                  <h6 class="nombre m-1">
                    <span class="h5">Titular:</span>Sancho pansa
                  </h6>
                </div>
                <div class="fecha-vencimiento m-3">
                  <h6 class="">1/20/2029</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="container justify-content-between" style="min-height: 80%">
      <div class="row m-2">
        <h2 class="display-5 col-md slide-in-left">
          <span class="display-4 text-red">Tradición </span>e
          <span class="display-4 text-red">innovación </span> con Banco
          <span class="display-4 text-red">Fox</span>
        </h2>
        <div class="col-md d-flex justify-content-center">
          <p class="h5 bg-green rounded p-2 slide-in-right">
            Banco Fox es una institución financiera que ha estado en el mercado
            por más de 50 años. Durante este tiempo, ha adquirido una gran
            experiencia en el sector bancario y ha logrado desarrollar una
            solida reputación por su seguridad y fiabilidad en la gestión de sus
            clientes y sus activos. El banco ha sido un pionero en la adopción
            de tecnologías innovadoras y cuenta con una página web intuitiva y
            fácil de usar que permite a sus clientes realizar operaciones
            bancarias en línea de manera segura y eficiente. Además, Banco Fox
            ofrece una amplia gama de productos y servicios financieros para
            satisfacer las necesidades de sus clientes, incluyendo cuentas de
            cheques y ahorro, tarjetas de crédito, préstamos, inversiones y
            seguros.
          </p>
        </div>
      </div>
    </section>
    <footer class="text-dark text-center text-lg-start bg-green">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row mt-4">
          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h4
              class="text-uppercase mb-4 remarco d-flex justify-content-center"
            >
              Banco Fox
              <img
                src="./css/imagenes/Fox_BancoRecortado2.png"
                alt="Imagen del bacno "
                width="50"
                height="50"
              />
            </h4>

            <p>
              El banco preferido de nuestros clientes. Contamos con mas de 50
              años de experiencia e historia, siempre demostrando excelencia.
            </p>

            <p>
              ahora mas actualizados que nunca, contamos con redes sociales y
              una versión digital.
            </p>

            <div class="mt-4">
              <!-- Facebook -->
              <!-- Twitter -->
              <a
                type="button "
                class="btn btn-floating btn-light btn-lg m-1 redes"
                ><i class="bi bi-twitter"></i
              ></a>
              <!--  + -->
              <a
                type="button "
                class="btn btn-floating btn-light btn-lg m-1 redes"
                ><i class="bi bi-instagram"></i
              ></a>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h4 class="text-uppercase mb-4 pb-1 remarco">
              Envíanos un Mensaje
            </h4>

            <div class="form-outline form-white mb-4 m-1">
              <input
                type="text"
                id="formControlLg"
                class="form-control form-control-lg"
              />
              <label class="form-label btn m-2 boton" for="formControlLg"
                >Enviar</label
              >
            </div>

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <a class="btn" href="https://goo.gl/maps/RwNYdWKb249SdTu17"
                  ><span class="fa-li"><i class="bi bi-geo-alt"></i> </span
                  ><span class="ms-2">Triangulo de las Bermudas</span></a
                >
              </li>
              <li class="mb-3">
                <span class="fa-li"
                  ><i class="bi bi-person-lines-fill"></i></span
                ><span class="ms-2">Contacto@Yahoo.com.ar</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="bi bi-telephone-fill"></i></span
                ><span class="ms-2">+ 48 234 567 88</span>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5
              class="text-uppercase mb-4 remarco d-flex justify-content-center"
            >
              Horario De Apertura
            </h5>

            <table class="table text-center text-black">
              <tbody class="fw-normal">
                <tr>
                  <td>Lunes - Martes:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Miércoles - Jueves:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Viernes:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2020 Copyright:
        <a class="text-dark" href="hñ">MindHub.com</a>
      </div>
      <!-- Copyright -->
    </footer>

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./javascripts/registro.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
